---
import Layout from '../layouts/Layout.astro';
import { supabaseClient } from '../lib/supabase.client';
const { data: courses, error } = await supabaseClient
  .from('courses')
  .select('*')
  .order('name', { ascending: true });
---
<Layout title="Cursos ">

  <main class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-12 py-10"></main>
    <h1 class="text-xl font-bold mb-4">Cursos</h1>
    {error && <pre class="text-red-400">{error.message}</pre>}
    <ul class="space-y-2">
    {courses?.map(c => (
        <li>{c.code} / {c.name}</li>
    ))}
    </ul>
  </main>
</Layout>
