---
import "../styles/global.css";
import IconHome from "./icons/IconHome.astro";
import ThemeToggle from "./ThemeToggle.astro";
---

<header
  class="sticky top-0 z-50 w-full bg-global-surface shadow border-b border-global-border"
>
  <div
    class="mx-auto flex max-w-[1200px] items-center justify-between px-2 sm:px-4 py-2"
  >
    <div class="flex w-[188px] items-center justify-between">
      <a href="/" aria-label="Volver al inicio">
        <img src="/img/logo.png" alt="TrikaWeb" class="h-auto w-auto" />
      </a>
    </div>

    <nav class="flex items-center gap-4">
      <a
        class="text-[20px] leading-7 font-medium hover:text-global-primary hidden sm:block"
        href="/cursos">Cursos</a
      >
      <a
        class="text-[20px] leading-7 font-medium hover:text-global-primary hidden sm:block"
        href="/teachers">Profesores</a
      >
      <ThemeToggle />
      <a
        class="rounded-xl p-2 hover:bg-global-surface text-global-text hover:text-red-500 transition-colors"
        aria-label="Mis Guardados"
        href="/saved"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-heart"
          ><path
            d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z"
          ></path></svg
        >
      </a>
      <a
        class="rounded-xl p-2 hover:bg-global-surface"
        aria-label="Inicio"
        href="/"
      >
        <IconHome class="text-global-text" size={24} title="Inicio" />
      </a>
    </nav>
  </div>
</header>
